---

import Layout from '~/layouts/PageLayout.astro';

import { useSanityClient, groq } from 'astro-sanity';

const lenguaje = Astro.url.searchParams.get('lang') || "es"

const contacto = {
  en: 'Contact me',
  es: 'Contacto'
}


async function getContact() {
  const query = groq `*[_type == "contact"] `;
  const posts = await useSanityClient().fetch(query);

  return posts[0];
}

let datosContacto = await getContact()



---


<Layout >
  <div class="mx-3 m-auto">
    <h1 class="text-3xl m-2 lg:my-6 lg:text-4xl ">{contacto[lenguaje]}</h1>
    <hr class=" mx-6 mt-8 mb-2">
    <div class=" mx-2 text-xl">
      <p>{datosContacto.texto[lenguaje]}</p>
      <p class="mt-6">Mail: <a href={"mailto:"+datosContacto.mail} class=" underline "> {datosContacto.mail} </a> </p>
      <a href={datosContacto.instagram} class=" underline mt-2"> Instagram </a>
    </div>
    <hr class=" mx-6 mt-2">
  </div>

</Layout>



