---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import { useSanityClient, groq } from 'astro-sanity';
import { urlForImage } from '../image'

const lenguaje = Astro.url.searchParams.get('lang') || "es"

function localePath(path: string) {
	return path + '?lang=' + lenguaje
}

async function getAbout() {
  const query = groq `*[_type == "about"]`;
  const posts = await useSanityClient().fetch(query);

  return posts[0];
}

const verObras = {
  en: 'See Works',
  es: 'Ver Obras'
}

const contacto = {
  en: 'Contact',
  es: 'contacto'
}

function colorRandom() {
  const randomIndex = Math.floor(Math.random() * colores.length);
  return colores[randomIndex];
}
 
const about = await getAbout()
 
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  

  <div class="min-h-[81vh]  ">
    <div class="max-w-6xl m-auto hidden lg:block">
      <h1 class="text-3xl m-2 lg:my-12 lg:text-6xl font-bold">{ about?.nombre  }</h1>
      <div class="lg:flex gap-12 p-6 ">
        
        <div class="lg:w-1/2 flex flex-col justify-between">
          { about?.descripcion[lenguaje]  }
          <div class="self-center flex gap-2">
            <a href="/obras" class="bg-blue-600 p-2 hover:bg-white hover:text-black border border-black text-center  font-medium   text-white rounded-md">{verObras[lenguaje]} </a>
            <a href="/contacto" class="bg-green-500 hover:bg-white hover:text-black border border-black text-center  font-medium p-2   text-white rounded-md">{contacto[lenguaje] }</a>
          </div>
        </div>
        <img src={urlForImage(about?.imagen).url()} alt="amalia llamas" class="lg:w-1/2 object-cover max-h-[550px] rounded-md">
      </div>
      
    </div>
    <div class="max-w-6xl m-auto block lg:hidden">
      <img src={urlForImage(about?.imagen).url()} alt="amalia llamas" class="w-[90%] my-6 mx-auto object-cover max-h-[250px] rounded-lg">
      
      <div class="lg:flex gap-12 p-6 ">
        <h1 class="text-3xl m-2 lg:my-12 lg:text-6xl font-bold">Amalia Llamas</h1>
        <div class="lg:w-1/2 m-2 flex flex-col justify-between">
          { about?.descripcion[lenguaje]  }
          <div class="self-center mt-6 flex gap-2">
            <a href="/obras" class="bg-blue-600 p-2 px-4 hover:bg-white hover:text-black border border-black text-center  font-medium   text-white rounded-md">Ver Obras </a>
            <a href="/contacto" class="bg-green-500 px-4 hover:bg-white hover:text-black border border-black text-center  font-medium p-2   text-white rounded-md">Contacto </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  
</Layout>

