---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import { useSanityClient, groq } from 'astro-sanity';
import { urlForImage } from '../image'

const lenguaje = Astro.url.searchParams.get('lang') || "es"

function localePath(path: string) {
	return path + '?lang=' + lenguaje
}

async function getAbout() {
  const query = groq `*[_type == "about"]`;
  const posts = await useSanityClient().fetch(query);

  return posts[0];
}

const verObras = {
  en: 'See Works',
  es: 'Ver Obras'
}

const contacto = {
  en: 'Contact',
  es: 'Contacto'
}

function colorRandom() {
  const randomIndex = Math.floor(Math.random() * colores.length);
  return colores[randomIndex];
}
 
const about = await getAbout()
 
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  

  <div class="min-h-[81vh]  ">
    <div class="max-w-6xl m-auto hidden lg:block">
      <h1 class="text-3xl m-2 lg:my-6 lg:text-4xl ">{ about?.nombre  }</h1>
      <hr class=" border-gray-700 mb-3 opacity-40">

      <div class="lg:flex gap-12 p-6 ">
        
        <div class="lg:w-1/2 flex flex-col justify-between">
          { about?.descripcion[lenguaje]  }
         
        </div>
        <img src={urlForImage(about?.imagen).url()} alt="amalia llamas" class="lg:w-1/2 object-cover max-h-[550px] rounded-md">
      </div>
      
    </div>
    <div class="mx-3 m-auto block lg:hidden">
      <img src={urlForImage(about?.imagen).url()} alt="amalia llamas" class="w-[90%] my-6 mx-auto object-cover max-h-[250px] rounded-lg">
      
      <div class="lg:flex gap-12 p-6 ">
        <h1 class="text-3xl m-2 lg:my-12 lg:text-6xl ">{ about?.nombre }</h1>
        <div class="lg:w-1/2 m-2 flex flex-col justify-between">
          { about?.descripcion[lenguaje]  }
          
        </div>
      </div>
      
    </div>
  </div>

  
</Layout>

